<template name="suggestionForm">
  <form>
    <div class="album">
      <input type="text" placeholder="band" class="band">: <input type="text" placeholder="album" class="album">
    </div>
    <div class="album">
      <input type="text" placeholder="band" class="band">: <input type="text" placeholder="album" class="album">
    </div>
    <div class="album">
      <input type="text" placeholder="band" class="band">: <input type="text" placeholder="album" class="album">
    </div>
    <textarea class="comments"></textarea>
    <input type="submit" value="submit">
  </form>

</template>